@model IEnumerable<LegoMyPhoto.Models.PhotoPack>

@{
    ViewBag.Title = "Home Page";
}

@*@foreach (var item in Model)
{
    <div>
        <h4>@item.PhotoName</h4>
        <div>@item.newFileName</div>
    </div>
}*@